#movie-results {
    float: left;
    width: 50%;
}

#nomination-list {
    flex-grow: 1;
}

#search-bar {
    width: 400px;
}

#search-clear {
    cursor: pointer;
}

.container {
    display: flex;
}